
@mixin responde-pk01 {
    &wd{
        &_full {width:100%}
        @for $i from 1 through 100{
            &_p#{$i} {width: $i+%}
        }
        @for $i from 1 through 200{
            &_sz#{$i*5} {width: $i*5+px}
        }
    }
    &ht{
        &_full {height:100%}       
        @for $i from 1 through 100{
            &_p#{$i*10} {height: $i+%}
        }
        @for $i from 1 through 200{
            &_sz#{$i*5} {height: $i*5+px}
        }    
    }
    &ps_{
        &rl{position:relative}		
        &ab{position:absolute} 
        &st{position:static}
        &fx{position:fixed}
    }
    &sound_only, &blind{position:absolute;left:-9999px;width:0;height:0;overflow:hidden;text-indent:-9999px;font-size:0}

    &ds_{
        &block{display: block}
        &inbl{display: inline-block} 
        &in{display: inline}
        &table{display: table}
        &cell{display: table-cell}
        &non{display:none}
    }

    &fl_{
        &lt{float:left}
        &rt{float:right}
        &Clt > *{float:left}
        &Crt > *{float:left}
    }

    &ft_{
        &cfff{color:#fff}
        &c000{color:#000}
        &c333{color:#333}
        &c555{color:#555}
        &c666{color:#666}
        &c777{color:#777}
        &c999{color:#999}
        &c6c6c6c{color:#6c6c6c}
        &6a6a6a{color:#6a6a6a}
        &c767676{color:#767676}
        &c868686{color:#868686}
    
        @for $i from 10 through 50{
            &sz#{$i}{font-size:$i+px}
        }  
    
        &szS{font-size:0.6rem}
        &szSM{font-size:0.8rem}
        &szSSM{font-size:0.9rem}
        &szMM{font-size:1.1rem}
        &szM{font-size:1.2rem}
        &szMBB{font-size:1.3rem}
        &szMB{font-size:1.4rem}
        &szB{font-size:1.6rem}
        &sm{font-size:0.8rem}
        &md{font-size:1.2rem}
        &bg{font-size:1.4rem}
        &xl{font-size:1.6rem}
    
        @for $i from 1 through 20{
            &rem#{$i}{font-size:($i*0.1)+rem}
            &rem#{$i}hf{font-size:(($i*0.1)+0.05)+rem}
        }  

        &ct{text-align:center}
        &lt{text-align:left}
        &rt{text-align:right}
    
        @for $i from 1 through 9{
            &wh#{$i*100}{font-weight:($i*100)}
        }   
    }
    
    &vt_md{vertical-align:middle} &vt_top{vertical-align:top} &vt_btm{vertical-align:bottom}&vt_us{vertical-align: unset;}&vt_sp{vertical-align: super;}&vt_bs{vertical-align: baseline;}&vt_tp{vertical-align: text-top;}
        
    &lh{
        @for $i from 0 through 20{
            &_#{$i+10}{line-height:1+(0.1*$i)}
        }
        @for $i from 0 through 30{
            &_px#{$i+10}{line-height:(10+$i)+px}
        }
    }

    &bg_{
        &cfff{background:#fff}
        &cf9{background:#f9f9f9}
        &cd9{background:#ddd}
        &c333{background:#333}
        &c000{background:#000}
    }
        
    &pd_{
        @for $i from 1 through 20{
            &lt#{$i*5}{padding-left:5px * $i}
            &rt#{$i*5}{padding-right:5px * $i}
            &top#{$i*5}{padding-top:5px * $i}
            &btm#{$i*5}{padding-bottom:5px * $i}
            &wd#{$i*5}{padding-left:5px * $i;padding-right:5px * $i}
            &ht#{$i*5}{padding-top:5px * $i;padding-bottom:5px * $i}
            &all#{$i*5}{padding:5px * $i}
        }   
        @for $i from 1 through 100{
            &Plt#{$i}{padding-left:$i+%}
            &Prt#{$i}{padding-right:$i+%}
            &Ptop#{$i}{padding-top:$i+%} 
            &Pbtm#{$i}{padding-bottom:$i+%}
            &Pwd#{$i}{padding-left:$i+%;padding-right:$i+%}
            &Pht#{$i}{padding-bottom:$i+%;padding-top:$i+%}
            &Pall#{$i}{padding:$i+%}
        }   
    }  

    &mg_{
        @for $i from 1 through 20{
            &lt#{$i*5}{margin-left:5px * $i}
            &rt#{$i*5}{margin-right:5px * $i}
            &top#{$i*5}{margin-top:5px * $i} 
            &btm#{$i*5}{margin-bottom:5px * $i}
            &wd#{$i*5}{margin-left:5px * $i;margin-right:5px * $i}
            &ht#{$i*5}{margin-bottom:5px * $i;margin-top:5px * $i}
            &all#{$i*5}{padding:5px * $i}
        }   
        @for $i from 1 through 100{
            &Plt#{$i}{margin-left:$i+%}
            &Prt#{$i}{margin-right:$i+%}
            &Ptop#{$i}{margin-top:$i+%} 
            &Pbtm#{$i}{margin-bottom:$i+%}
            &Pwd#{$i}{margin-left:$i+%;margin-right:$i+%}
            &Pht#{$i}{margin-bottom:$i+%;margin-top:$i+%}
            &Pall#{$i}{padding:$i+%}
        }
    }

    &ly_{  
        @for $i from 2 through 16{
            &#{$i} > *{float: left;width:calc( 100% / #{$i})}
            &#{$i}:after{@include clear} 
        }
    }

    &ht_ct{display:table}
    &ht_ct > * {display:table-cell;vertical-align:middle;height:100%;text-align:center}
    &fl_non{float:none}
}

.Tg_{
&a_{
    &bloc *{display: block}
    &inbl *{display: inline-block} 
    &in *{display: inline}
    &table *{display: table}
    &cell *{display: table-cell}
    &non *{display:none}
}

}

@each $device_val in $j_device  {
#{$device_val}{
    @if ($device_val == '.M_' or $device_val == '.TM_'){
        @include respond-to(handhelds) { 
            @include responde-pk01;
        } 
    }
    @if($device_val == '.TM_'or $device_val == '.TAB_' or $device_val == '.PT_'){
        @include respond-to(medium-screens) {
            @include responde-pk01;
        }
    }
    @if($device_val == '.PC_' or $device_val == '.PT_')  {
        @include respond-to(wide-screens) {
            @include responde-pk01;
        }
    }@if($device_val == '.T_'){
        @include responde-pk01;
    }
    
}
}