/*sass 변수 모음*/
//$j_device : ('.T_','.TAB_','.M_','.TM_','.PC_','.PM_','.PT_'); 
$S_M: 768px; 
$S_T: 1024px;
$S_W: 1200;
/*mixin and function 모음*/
@mixin clear {content:'';clear:both;display:block}
@mixin area {margin-left:auto;margin-right:auto}
@mixin ps_center($size) {left:0;margin-left:auto;margin-right:auto;right:0;width: $size;}
@mixin bg_base01($url) {background:url($url)no-repeat center}
@mixin bg_ch_url($url){background-image: url($url);}
@mixin r_img($mode,$max){
	$mode: '가로'!default;
	$max: 100% !default;
	@if($mode='가로'){width:100%;max-width: $max;}
	@if($mode='세로'){height:100%;max-height:$max;}
}


/*SCSS*/

$breakpoints: (
        'small': (max-width: 640px),
        'medium': (max-width: 1024px),
        'large': (max-width: 1200px),
) !default;

@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
} 

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $S_M) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $S_M + 1) and (max-width: $S_T - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $S_T) { @content; }
  }
}


$t_cl01 : #0051a4;
$t_cl02 : #000;
$t_cl03 : #767676;
$t_cl04 : #ccc;
$t_cl05 : #6c6c6c;
$t_cl06 : #efefef;
$t_cl07 : #298cd5;
$t_cl11 : #1c5eb5;
$t_cl12 : #567f36;
$cl_red : #e10000;   
$cl_red2 : #d60c00;
$cl_black : #000;   
$cl_gray : #767676;   
$t_cl10	: #000;
$t_cl11 : #ddd;

body{
    &.bd_main {background-color:#000;background-repeat: no-repeat;background-position: center;
        @include respond-to(handhelds) {background-size: auto 100%;}
        @include respond-to(medium-screens) {background-size: auto 100%;} 
        #ft{background:rgba(0,0,0,0.5);border:0;color:#fff}
        #hd{background:none;border:0;color:#fff}
        #container{height:100%;display: table;height:100%}
        .U_bd_C01{ > * {border:1px solid rgba(255,255,255,0.3)}} 
        .U_pc_nav{color:#fff}
        .U_line01{background:#fff}
        .U_pc_nav {
            a:hover,a:focus{color:#fff;
            }
            a:after{background:#fff}
        }
    }
    &.type1{background-image: url("/img/pc/main_bg1.jpg");
        @include respond-to(handhelds) {}
        @include respond-to(medium-screens) {} 
        @include respond-to(wide-screens) {}
    }
    &.type2{background-image: url("/img/pc/main_bg2.jpg");
        @include respond-to(handhelds) {}
        @include respond-to(medium-screens) {} 
        @include respond-to(wide-screens) {}
    }
    &.type3{background-image: url("/img/pc/main_bg3.jpg");
        @include respond-to(handhelds) {}
        @include respond-to(medium-screens) {} 
        @include respond-to(wide-screens) {}
    }  
}

#ft,#hd{background:#fff}
#ft{border-top:1px solid #bdbdbd}
#hd{border-bottom:1px solid #bdbdbd}
#U_logo{
    @include respond-to(wide-screens) {
        width:128px;margin-top:9.5px

    }
}

$set_color01: #fa583c;

.U_line01{display: inline-block;margin: 0 10px;vertical-align: top;width: 1px;height: 13px;background: #777;position: relative;top: 4px;}
.U_bd_C01{ > * {border:1px solid #bdbdbd}} 
.U_bg_C01{background:$set_color01}
.U_bx_sh01{box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4)}
.U_ft01{letter-spacing: 3px;font-weight: 700;}
.U_btn01{border-radius: 7px;text-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);}
.U_btn02{
    border:1px solid #fff;width:48px;height:48px;
}
.U_pc_nav {
    a:hover,a:focus{color:$set_color01;
        &:after{width:100%}
    }
    a{position:relative}
    a:after{content:"";display:block;position:absolute;height:3px;width:0%;top:100%;margin:0 auto;left:0;right:0;background: $set_color01;transition: 0.5s all;}
    
}
.U_btm_mypage{@include bg_base01('/img/m/Top_Mypage.png');background-size: 40% auto;}
.U_btm_stieMap{@include bg_base01('/img/m/Top_Menu.png');background-size: 40% auto;}

/*bd skin*/
.sir_bd_cate{
    li{background:#f3f3f3}
    a{display:block}
    li.on{background:$set_color01;color:#fff}
}

.sir_bd_list01{border-top: 1px solid #d9d9d9;
    > li {border-bottom: 1px solid #d9d9d9;}
    .list_info:after{content:"";position: absolute;height:100px;border-right: 1px dashed #d9d9d9;top:50%;margin-top:-50px;display:block;right:0}
    .list_info.is_notice{color:$set_color01;span{color:#000}}
    .list_info {min-width:105px}
    li:hover .list_info * {color:#000}
}


.sir_input_box{border:1px solid #bdbdbd;border-radius: 4px;padding:0 30px;height:65px;
    > * {display:inline-block;vertical-align:middle;line-height:60px;}
    label{margin-right:10px}
}
.sir_input01{padding:0 30px;height:65px;border-radius: 4px!important;padding:0 30px!important;
    @include respond-to(handhelds) {height:50px}
}
.sir_input02{padding:0 30px;height:65px;border-radius: 4px 0 0 4px!important;padding:0 30px!important;line-height:63px;border:1px solid #bdbdbd;border-right:0;
    @include respond-to(handhelds) {height:50px;line-height:48px}
}

.sir_input03{border:1px solid #f7954c;border-radius: 4px 0 0 4px;
    &::-webkit-input-placeholder {color:#f7954c}
    &:-ms-input-placeholder {color:#f7954c} 
}


.sir_input_btn{padding:0 30px;height:65px;border-radius: 0 4px 4px 0!important;text-align:center;line-height:65px;background: $set_color01;color:#fff;max-width:170px;
    @include respond-to(handhelds) {height:50px;line-height:50px}
}

.sir_label{margin-bottom:15px;display:block;}

.cs_benner{position: relative;top: 1px;background:url("/img/pc/cs_benner0.jpg") #000 no-repeat center;
    &.cs_notice{background-image: url("/img/pc/cs_benner1.jpg");}
    &.cs_qna{background-image: url("/img/pc/cs_benner2.jpg");}
    &.cs_reviewH{background-image: url("/img/pc/cs_benner3.jpg");}
    &.cs_reviewP{background-image: url("/img/pc/cs_benner4.jpg");}
}
.sir_bd_top01{border-top: 1px solid $set_color01;}
.sir_bd_top02{border-top: 2px solid $set_color01}
.sir_bd_top03{border-top: 3px solid $set_color01}

.sir_bd_top11{border-top: 1px solid #bdbdbd}
.sir_bd_top12{border-top: 2px solid #bdbdbd}
.sir_bd_top13{border-top: 3px solid #bdbdbd} 

.sir_bd_top21{border-top: 1px solid #d9d9d9}
.sir_bd_top22{border-top: 2px solid #d9d9d9}
.sir_bd_top23{border-top: 3px solid #d9d9d9} 

.sir_bd_btm11{border-bottom: 1px solid #bdbdbd}
.sir_bd_btm12{border-bottom: 2px solid #bdbdbd}
.sir_bd_btm13{border-bottom: 3px solid #bdbdbd}

.sir_bd_btm21{border-bottom: 1px solid #d9d9d9}
.sir_bd_btm22{border-bottom: 2px solid #d9d9d9}
.sir_bd_btm23{border-bottom: 3px solid #d9d9d9}

.sir_bd_all01{border:1px solid $set_color01}

.sir_bd_all11{border:1px solid #bdbdbd}

.sir_bg01{background:$set_color01}
.sir_ftc01{color:$set_color01}
.sir_rd01{border-radius: 5px;}
.sir_rd02{border-radius: 0 4px 4px 0;}



.sir_btn02{height:40px;width:85px;line-height:38px;border:1px solid #d9d9d9;font-size:15px}
.sir_btn03{background:#ff9735!important;color:#fff!important;
    @include respond-to(medium-screens) {width:58px;} 
    @include respond-to(wide-screens) {width:58px;}
}
.sir_btn04{height:20px;line-height:20px;padding:0 20px;font-size:13px;color:#fff;border-radius: 20px;background: #989898;}
.sir_btn04.on{background: #f7954c;}

.sir_btn05{height:30px;line-height:30px;padding:0 30px;font-size:17px;color:#fff;border-radius: 30px;background: #989898;}
.sir_btn05.on{background: #f7954c;}
.sir_btn06{border:1px solid #ff9735;color:#ff9735}
.sir_btn06.on{background:#ff9735;color:#fff}

.sir_btn07{border:1px solid #fa583c;color:#fa583c}
.sir_btn07.on{background:#fa583c;color:#fff}

.U_benner {background:  no-repeat center;height:250px;
    &.set_sub01{background-image: url("/img/pc/subBenner_event.jpg");}
    &.set_sub02{background-image: url("/img/pc/subBenner_cs.jpg");}
    &.set_sub03,&.set_sub04,&.set_sub05{background-image: url("/img/pc/subBenner_member.jpg");}
    &.set_sub06,&.set_sub07{background-image: url("/img/pc/subBenner_py.jpg");}

}